.embed {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  iframe,
  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}
